<div class="country" *ngIf="countryDetails$ | async as countryDetails">
  <app-header
    class="country__header"
    [title]="'Country: ' + countryDetails.name.common"
  >
  </app-header>

  <mat-card class="country__card">
    <mat-card-header>
      <mat-card-title-group class="country__card-header">
        <mat-card-title class="country__card-header--title">{{
          countryDetails?.cca2
        }}</mat-card-title>

        <img
          class="country__card-header--image"
          src="{{ countryDetails.flags.png }}"
        />
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <p class="country__card-content--text">
        <span>Stolica: </span><span>{{ countryDetails.capital }}</span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Waluta: </span>
        <span *ngFor="let currency of currencies$ | async; trackBy: trackByFn"
          >- {{ currency.name }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Populacja: </span
        ><span>{{ countryDetails.population | numberSuffix }}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
