@import '_variables';

.country {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  max-width: $max-width-content;
  align-items: center;
  row-gap: 2rem;
}
.country__header {
  width: 100%;
}
.country__card {
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.country__card-header {
  margin-bottom: 2rem;
}

.country__card-header--title {
  font-size: $title-font-size;
}

.country__card-header--image {
  width: 8rem;
}

.country__card-content--text {
  padding: 1rem 0;
}
