<div class="country">
  <app-header
    class="country__header"
    [title]="
      countryDetails && countryDetails.name && countryDetails.name.common
        ? countryDetails.name.common
        : countryCode
    "
  >
  </app-header>

  <mat-spinner *ngIf="!countryDetails && !showNotFoundMessage"></mat-spinner>
  <app-not-found-card
    area="kraj"
    [value]="countryCode"
    *ngIf="showNotFoundMessage"
  ></app-not-found-card>
  <mat-card class="country__card" *ngIf="countryDetails && currencies">
    <mat-card-header>
      <mat-card-title-group class="country__card-header">
        <mat-card-title class="country__card-header--title">{{
          countryDetails.cca2
        }}</mat-card-title>

        <img
          class="country__card-header--image"
          src="{{ countryDetails.flags.png }}"
        />
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <p class="country__card-content--text">
        <span>Stolica: </span><span>{{ countryDetails.capital }}</span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Waluta: </span>
        <span *ngFor="let currency of currencies; trackBy: trackByFn"
          >- {{ currency.name }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Populacja: </span
        ><span>{{ countryDetails.population | numberSuffix }}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
