<div class="country" ngClass.lt-md="mobile" *ngIf="countryDetails">
  <div class="country__header-container">
    <div class="country__title">{{ countryDetails.name.common }}</div>
    <a
      mat-raised-button
      class="country__button"
      routerLink="../"
      color="primary"
    >
      cofnij
    </a>
  </div>

  <mat-card class="country__card" *ngIf="currencies">
    <mat-card-header>
      <mat-card-title-group class="country__card-header">
        <mat-card-title class="country__card-header--title">{{
          countryDetails.cca2
        }}</mat-card-title>

        <img
          class="country__card-header--image"
          src="{{ countryDetails.flags.png }}"
        />
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <p class="country__card-content--text">
        <span>Stolica: </span><span>{{ countryDetails.capital }}</span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Waluta: </span>
        <span *ngFor="let currency of currencies; trackBy: trackByFn"
          >- {{ currency.name }}
        </span>
      </p>
      <mat-divider></mat-divider>
      <p class="country__card-content--text">
        <span>Populacja: </span
        ><span>{{ countryDetails.population | numberSuffix }}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<mat-spinner *ngIf="!countryDetails"></mat-spinner>
