@import '_variables';

.region {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  max-width: $max-width-content;
  align-items: center;
  row-gap: 2rem;
}

.region__header {
  width: 100%;
}
.region__table {
  margin-bottom: 2rem;
}
.img__flag {
  width: 3rem;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.mat-mdc-row {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: $background-color-hover;
}
.mat-column-name {
  height: 4rem;
}
