@import '_variables';
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  font-size: $title-font-size;
  font-weight: bold;
  margin: 2rem 0;
}
