@import '_variables';

.regions {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: $max-width-content;
  align-items: center;
  row-gap: 2rem;
}
.regions__title {
  font-size: $title-font-size;
  font-weight: bold;
  margin: 2rem 0;
}

.regions__container {
  flex-grow: 1;
  display: flex;
  gap: 2rem 9rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.regions__container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.regions__button {
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  font-size: $card-font-size;
  color: $dark-text-color;
}
