$breakpoint-lt-sm: 599px;
$breakpoint-lt-md: 959px;
$breakpoint-lt-lg: 1279px;
$breakpoint-lt-xl: 1919px;

$breakpoint-gt-xs: 600px;
$breakpoint-gt-sm: 960px;
$breakpoint-gt-md: 1280px;
$breakpoint-gt-lg: 1920px;

$max-width: 1200px;
$max-width-content: 900px;
$header-height: 64px;

$title-font-size: 2rem;
$card-font-size: 1.5rem;

$background-color: #3f51b5;
$bright-text-color: #fff;
$dark-text-color: #000000de;
$background-color-hover: #e9eaeb;
