<div class="countries">
  <app-header class="countries__header" [title]="'Region: ' + regionName">
  </app-header>

  <mat-table
    [dataSource]="dataSource"
    class="countries__table mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <button
        mat-button
        *matCellDef="let element"
        routerLink="{{ element.cca2 }}"
      >
        <img
          class="countries__table--flag"
          [src]="element.flag"
          loading="lazy"
        />
        <div>{{ element.name }}</div>
      </button>
    </ng-container>

    <mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
</div>
