@import '_variables';

.countries {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80vw;
  max-width: $max-width-content;
  align-items: center;
  row-gap: 2rem;
}

.countries__header {
  width: 100%;
}
.mdc-button {
  width: 100%;
}
.mdc-button ::ng-deep .mdc-button__label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.countries__table {
  margin-bottom: 2rem;
}
.countries__table--flag {
  width: 3rem;
  margin-right: 4rem;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.mat-mdc-row {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: $background-color-hover;
}
