<div class="region">
  <app-header class="region__header" [title]="'Region: ' + regionName">
  </app-header>

  <mat-table [dataSource]="dataSource" class="region__table mat-elevation-z8">
    <ng-container matColumnDef="flag">
      <mat-header-cell *matHeaderCellDef>Flaga</mat-header-cell>
      <mat-cell *matCellDef="let element" routerLink="{{ element.cca2 }}"
        ><img class="img__flag" [src]="element.flag" loading="lazy"
      /></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nazwa Państwa</mat-header-cell>
      <mat-cell *matCellDef="let element" routerLink="{{ element.cca2 }}">{{
        element.name
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
